:root {
    --color-1: #2a2a28;
    --color-2: #eaba6b;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style: none;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#header__title {
    border-radius: 8px;
    border: 2px solid var(--color-2);
    padding: 5px;
}

#main__welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

#main__welcome-section__text {
    background-color: var(--color-2);
    border-radius: 8px;
    padding: 50px;
}

#main__welcome-section > a {
    color: white;
}

#main__news-section {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--color-2);
}

#main__news-section > a {
    color: black;
}