@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --background__color: #eaba6b;
    --another__color: #FFBC7D;
    --text_color-1: #000000;
    --text_color-2: #FFFFFF;

}
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', monospace;
    color: black;
    background-color: var(--background__color);
}

header {
    background-color: var(--another__color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

header > nav a {
    text-decoration: none;
    color: var(--text_color-1);
    border: 2px solid var(--text_color-1);
    border-radius: 8px;
    padding: 5px;
}

header > nav a:hover {
    background-color: var(--text_color-2);
    color: black;
    border-radius: 8px;
    padding: 5px;
}

header > nav ul {
    margin-right: 40px;
}

header > nav li {
    display: inline-block;
}

#header__title {
    color: var(--text_color-1);
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

#header__title:hover {
    color: var(--text_color-2);
}

#main__welcome-section {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main__news-section {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}