:root {
    --main-background-color: #2b303a;
    --header-color: #eaba6b;
    --secondary-header-color: #d33f49;
    --text-color: #ffffff;
    --notes-color: #04724D;
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: 'Rubik Mono One', monospace;
}

h1 {
    color: var(--header-color);
}

h2 {
    color: var(--secondary-header-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--secondary-header-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    margin: 0 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > * {
    margin: 10px 0;
}
